/*
 * tippy.js stylesheet edited by ameliahetrick:
 *   https://ameliahetrick.github.io/projects/goodshelf
 *
 *
 * -- RESOURCES --
 *
 * Tippy (tooltips):
 *   https://github.com/atomiks/tippyjs
 *   https://atomiks.github.io/tippyjs/
 */

    /* Tippy (tooltip)
     */
    .tippy-box[data-theme~="tippyImgAlt"],
    .tippy-box[data-theme~="tippyLinkTitle"] {
    	margin: -0.5px; /* enable if tippyImgAlt maxWidth = --book-width */
        background-color: var(--accent-color);
        color: var(--background-color);
        border: var(--border-style);
        border-radius: 0px;
        font-size: 12px;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .tippy-box[data-theme~="tippyImgAlt"] .tippy-svg-arrow,
    .tippy-box[data-theme~="tippyLinkTitle"] .tippy-svg-arrow {
      	fill: var(--accent-color);
    }